<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <display-name>ExamenTirage</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCompte</display-name>
    <servlet-name>CreateCompte</servlet-name>
    <servlet-class>authentification.CreateCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCompte</servlet-name>
    <url-pattern>/CreateCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentControlleur</display-name>
    <servlet-name>AgentControlleur</servlet-name>
    <servlet-class>authentification.AgentControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentControlleur</servlet-name>
    <url-pattern>/AgentControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnseignantControlleur</display-name>
    <servlet-name>EnseignantControlleur</servlet-name>
    <servlet-class>authentification.EnseignantControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnseignantControlleur</servlet-name>
    <url-pattern>/EnseignantControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControlleur</display-name>
    <servlet-name>LoginControlleur</servlet-name>
    <servlet-class>authentification.LoginControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlleur</servlet-name>
    <url-pattern>/LoginControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminControlleur</display-name>
    <servlet-name>AdminControlleur</servlet-name>
    <servlet-class>authentification.AdminControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControlleur</servlet-name>
    <url-pattern>/AdminControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControlleur</display-name>
    <servlet-name>LogoutControlleur</servlet-name>
    <servlet-class>authentification.LogoutControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControlleur</servlet-name>
    <url-pattern>/LogoutControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatiereServlet</display-name>
    <servlet-name>MatiereServlet</servlet-name>
    <servlet-class>authentification.MatiereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatiereServlet</servlet-name>
    <url-pattern>/MatiereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupeServlet</display-name>
    <servlet-name>GroupeServlet</servlet-name>
    <servlet-class>authentification.GroupeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupeServlet</servlet-name>
    <url-pattern>/GroupeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TirageServlet</display-name>
    <servlet-name>TirageServlet</servlet-name>
    <servlet-class>authentification.TirageServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>2097152</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>TirageServlet</servlet-name>
    <url-pattern>/TirageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPDFServlet</display-name>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <servlet-class>authentification.DownloadPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <url-pattern>/DownloadPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierUtilisateurServlet</display-name>
    <servlet-name>ModifierUtilisateurServlet</servlet-name>
    <servlet-class>authentification.ModifierUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierUtilisateurServlet</servlet-name>
    <url-pattern>/ModifierUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerUtilisateurServlet</display-name>
    <servlet-name>SupprimerUtilisateurServlet</servlet-name>
    <servlet-class>authentification.SupprimerUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerUtilisateurServlet</servlet-name>
    <url-pattern>/SupprimerUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierMatiereGroupeServlet</display-name>
    <servlet-name>ModifierMatiereGroupeServlet</servlet-name>
    <servlet-class>authentification.ModifierMatiereGroupeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierMatiereGroupeServlet</servlet-name>
    <url-pattern>/ModifierMatiereGroupeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionMatiereGroupeServlet</display-name>
    <servlet-name>SuppressionMatiereGroupeServlet</servlet-name>
    <servlet-class>authentification.SuppressionMatiereGroupeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionMatiereGroupeServlet</servlet-name>
    <url-pattern>/SuppressionMatiereGroupeServlet</url-pattern>
  </servlet-mapping>
</web-app>